services:
  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: nusmt_test
  #   restart: always
  #   env_file: .env
  #   # Это гарантирует, что app начнет запуск только ПОСЛЕ успешного healthcheck базы
  #   depends_on:
  #     database:
  #       condition: service_healthy
  #   ports:
  #     - "8000:8000"
  #   healthcheck:
  #     test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #   volumes:
  #     - .:/app
  #     - ./logs:/app/logs
  #     - ./app/static:/app/app/static
  #     - ~/.logfire:/root/.logfire:ro

  #     # Если uv создает какие-то локальные папки в /app, которые не нужны на хосте:
  #     # - /app/.venv 
  #   networks:
  #     - backend_network
  #   environment:
  #     - APP_CONFIG__REDIS__HOST=redis
  #     - DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
  #     - LOGFIRE_PROJECT_NAME=${LOGFIRE_PROJECT_NAME}
  #     - LOGFIRE_TOKEN=${LOGFIRE_TOKEN}

  database:
    image: postgres:17
    container_name: database
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5436:5432"
    networks:
      - backend_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -q -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s # Ускорим проверку для старта
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data_quiz:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    # Используем AOF для сохранения данных при перезагрузке
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    networks:
      - backend_network
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge

volumes:
  postgres_data_quiz:
  redis_data:
  pgadmin_data:
